{{ use('yii\helpers\Html') }}
{{ use('yii\widgets\ActiveForm') }}
{{ use('yii\i18n\Formatter') }}

{{ voc.name }}
<table class="table">
    <thead>
    <tr>
        <th>{{ lang('frontend', 'Text') }}</th>
        <th>{{ lang('frontend', 'Translation') }}</th>
        <th>{{ lang('frontend', 'Date') }}</th>
    </tr>
    </thead>
    <tbody>
{% for item in trans %}


            <tr>
                <td>{{ item.text }}</td>
                <td>{{ item.translation }}</td>
                <td>{{ format.asDate('2014-01-01') }}</td>
            </tr>

{% endfor %}
    </tbody>
</table>