{{ use('yii\helpers\Html') }}
{{ use('yii\widgets\ActiveForm') }}

<div class="">

    {{ lang('frontend', 'Hello') }}



    {% set form = active_form_begin({
    'id' : 'translation-form',


    })%}
    <select class="form-control" name="Translation[id_voc]">
    {% for voc in vocabularies %}
        <option value="{{ voc.id }}">{{ voc.name }}</option>
        {% endfor %}
        </select>
    <!--{{ form.field(translation, 'id_voc').label(lang('frontend', 'Vocabulary')) | raw }}-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                {{ form.field(translation, 'text').textarea({'rows' : '4'}) | raw }}
            </div>
            <div class="col-md-6">
                {{ form.field(translation, 'translation').textarea({'rows' : '4'}) | raw }}
            </div>
            </div>
        </div>
    </div>
    <div class="form-group">

        <!--<?= Html::submitButton(Yii::t('app', 'Submit'), ['class' => 'btn btn-primary']) ?>-->
        {{ html.a(lang('app', 'Translate'), '#', {'class':'btn btn-default trans-btn'}) | raw }}

        <input type="submit" value="Сохранить" class="btn btn-primary" />

    </div>
    {{ active_form_end() }}
</div><!-- weather-station-index -->
<img id="load-img" src="/img/ajax-loader.gif"/>
