{{ use('yii\helpers\Html') }}
{{ use('yii\widgets\ActiveForm') }}

<div class="">

    {{ lang('frontend', 'Hello') }}

<h2> Чтобы пользоваться переводом вам надо <a href="{{ url(['site/signup']) }}">зарегестрироваться</a> или <a href="{{ url(['site/login']) }}">залогиниться</a></h2>
</div>
